{% extends "auth_base.html" %}

{% block title %}Forgot your password{% endblock %}

{% block auth_content %}
    <div class="auth-icon">{% include "includes/icon.html" with name="key" %}</div>
    <h1>Forgot your password?</h1>
    <p>Enter the email address you registered with and we'll send you a link to reset it.</p>
    <form method="post" class="form">
        {% csrf_token %}
        {% include "includes/form_fields.html" %}
        <button type="submit" class="btn btn-lg btn-block">Send reset link</button>
    </form>
    <p class="auth-foot"><a href="{% url 'login' %}">&larr; Back to log in</a></p>
{% endblock %}
