{% extends "auth_base.html" %}

{% block title %}Welcome{% endblock %}

{% block auth_content %}
    <div class="auth-icon success">{% include "includes/icon.html" with name="check-circle" %}</div>
    <h1>Welcome, {{ new_user.first_name|default:new_user.username }}!</h1>
    <p>Your account has been created successfully. Log in to set up your profile and start bookmarking.</p>
    <a href="{% url 'login' %}" class="btn btn-lg btn-block">Log in to your account {% include "includes/icon.html" with name="arrow-right" %}</a>
{% endblock %}
